/* MAIN WRAPPER */
.hero-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* OGL CANVAS */
.hero-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  z-index: 2;

  background: radial-gradient(
    circle at 20% 40%,
    rgba(120, 180, 255, 0.60) 0%,      /* soft sky blue */
    rgba(90, 150, 240, 0.50) 30%,      /* deeper blue */
    rgba(50, 110, 220, 0.40) 55%,      /* mid blue */
    rgba(20, 60, 150, 0.55) 75%,       /* darker blue */
    rgba(10, 30, 80, 0.85) 100%        /* deep navy */
  );

  mix-blend-mode: screen;
}


/* TEXT CENTERED */
.hero-content {
  position: relative;
  z-index: 5;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

/* Typography */
.hero-title {
    font-size: 2.1rem;
    font-weight: 550;
    line-height: 1.3;
    color: #ffffff;
    margin-bottom: 1.5rem;
    letter-spacing: 1px;
}


/* BUTTON */
.hero-btn {
  padding: 12px 34px;
  font-size: 18px;
  color: white !important;
  background: transparent;
  border: 2px solid white;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.3s ease;
  text-decoration: none !important;
}

.hero-btn a{
  text-decoration: none;
}

.hero-btn:hover {
  background: rgba(255, 255, 255, 0.14);
  transform: scale(1.05);
}


